.header1 {
    background-color: rgb(39, 39, 39);
    color: white;
}

h1 {
    text-align: center;
}

.footer1 {
    background-color: rgb(39, 39, 39);
    color: white;
    margin-top: 150px;
    }
