body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: darkolivegreen;
  height: auto;
}

h1 {
  padding: auto;
  text-align: center;
  color: aliceblue;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
}

#postList ul {
  list-style-type: none;
  padding: 0;
}

#postList li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
